{% extends 'base.html' %}

{% block title %}
Tasks -
{% endblock title %}

{% block content %}
    <form method="post">
    {% csrf_token %}

        {{task_form.title}}
        {{task_form.description}}
        <button type="submit">SUBMIT</button>
    </form>
    <ol>
        {% for task in tasks %}
            <li>{{task.title}}</li>
        {% endfor %}
    </ol>
{% endblock content %}